{# deklarasi #}
{% set len = portfolio.imgx|length %}


{% extends '_layout.twig' %}


{% block content %}

<!-- Modal Galeri Starts -->
  {%
    include 'galeri.twig' 
    with {
      'index' : galeri.index,
      'galeriId' : galeri.galeriId,
      'slideId' : galeri.slideId,
      'image' : galeri.img,
      'caption' : galeri.capt,
    }
  %}
<!-- Modal Galeri Ends -->

{% if (id is not empty) and (portfolio is not empty) %}

    <div class="grid w-full pb-40 p-2 pt-16 md:grid-cols-2 md:p-10 md:pt-24 lg:p-20 lg:pt-36">
        <div class="mt-2 bg-gray-300 w-full px-3 py-4">
          <h1 style="font-family: 'Times New Roman', Times, serif;" class="mb-2 underline text-lg md:text-xl lg:text-2xl">Project ke #{{id+1}}</h1>
            <!-- Main Picture Starts -->
            <div>
                <img onclick="ShowModal(-1, 'galeri', -1)" src="assets/{{portfolio.img}}" alt="{{portfolio.img}}"
                  class="transform cursor-pointer bg-black lg:w-full hover:opacity-60 hover:-translate-y-2">
                <small class="text-xs md:text-sm lg:text-md">{{portfolio.capt}}</small>
            </div>
            <!-- Main Picture Ends -->


            <!-- Extra Picture Starts -->
            <div class="space-x-2 grid md:grid-cols-{{len}}">
                {% for key, item in portfolio.imgx %}
                    <div class="relative mt-8">
                        <img onclick="ShowModal(-1, 'galeri', {{key}})" src="assets/{{item}}" alt="{{item}}"
                          class="transform cursor-pointer bg-black lg:w-full hover:opacity-60 hover:-translate-y-2">
                        <small class="text-xs md:text-sm lg:text-md">{{item}}</small>
                    </div>
                {% endfor %}
            </div>
            <!-- Extra Picture Ends -->
        </div>


        <!-- Deskripsi and Button Starts -->
        <div class="mt-2 px-4 md:ml-10">
            <div class="float-right">
                <a class="bg-gray-300 py-1 px-8 rounded-md hover:bg-gray-400" 
                        href="v2.php#Portfolio">
                    Kembali
                </a>
            </div>
            <div class="mt-8 border-b-2 border-gray-400 ml-4 w-1/2">
                <h1 class="text-3xl">{{portfolio.judul}}</h1>
            </div>
            <p class="mb-4 text-lg"> Dibuat pada tahun: {{portfolio.tahun}}</p>
            <p class="text-md md:text-lg lg:text-xl">{{portfolio.ket}}</p>
            <div class="mt-12 text-white space-x-8">
                <a onclick="ShowModal(-1, 'galeri', -1)"
                        class="cursor-pointer bg-blue-500 py-1 px-6 rounded-md hover:bg-blue-400">
                    Galeri
                </a>
                <a class="bg-green-500 py-1 px-4 rounded-md hover:bg-green-400"
                        href="{{portfolio.link}}">
                    Kunjungi
                </a>
            </div>
        </div>
        <!-- Deskripsi and Button Ends -->
    </div>


{% else %}
    <div class="p-2 pt-40 pb-96 w-full text-center md:w-1/2 mx-auto md:px-2">
        <div class="bg-red-600 rounded-t-md py-2">
            <h1 class="text-md text-white md:text-lg lg:text-2xl font-bold">
                <span class="text-md px-1 border-2 rounded-full border-white md:text-2xl lg:text-3xl">&#8197;!&#8197;</span>
                    Portfolio {{"'"~id~"'"}} tidak ditemukan
                <span class="text-xl px-1 border-2 rounded-full border-white md:text-2xl lg:text-3xl">&#8197;!&#8197;</span>
            </h1>
        </div>
        <div class="bg-gray-200 rounded-b-md py-3">
          <p class="text-sm md:text-md lg:text-lg">anda akan segera diarahkan ke halaman utama</p>
          <p id="loading" class="text-2xl md:text-3xl lg:text-4xl"></p>
        </div>
    </div>

    <script>
      var text = '.......';
    </script>
    <script src="components/extra.js"></script>
    <script>
      window.addEventListener('load', WalkingText(text, 'loading', 0, 800))
    </script>
{% endif %}

{% endblock %}