{# deklarasi #}
{% set len = portfolio.imgx|length %}


{% extends '_layout.twig' %}

{% block content %}



  <!-- Modal Mail Starts -->
    {% if mail is not null %}
      {%
        include 'modalmail.twig'
        with {
          'header' : mail[0],
          'body' : mail[1],
        }
      %}
    {% endif %}
  <!-- Modal Mail Ends -->



  <!-- Modal Galeri Starts -->
    {% for i in 0..galeri|length-1 %}
      {%
        include 'galeri.twig' 
        with {
          'index' : galeri[i].index,
          'galeriId' : galeri[i].galeriId,
          'slideId' : galeri[i].slideId,
          'image' : galeri[i].img,
          'caption' : galeri[i].capt,
        }
      %}
    {% endfor %}
  <!-- Modal Galeri Ends -->



  <!-- Navigation Bar Starts -->
    {% include 'navbar.twig' %}
  <!-- Navigation Bar Ends -->



  <!-- Main Banner Starts -->
  <div class="w-auto">
    <div class="float-center relative bg-black">
      <img class="opacity-60" src="assets/refuge.png" alt="Banner">

          <!-- Fitur extra untuk layar md+ -->
          <div class="hidden opacity-80 font-mono absolute transform text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/4 md:block">
              <p id="welcome1" class="text-xl whitespace-nowrap text-white md:text-4xl lg:text-6xl"></p>
              <p id="welcome2" class="text-sm whitespace-nowrap my-2 text-white md:text-md lg:text-xl"></p>
              {% if nameSet == false %}
                  <form method="post">
                      <input class="text-center text-white bg-transparent border rounded-md py-1 w-full" name="welcome" type="text" placeholder="Your Name">
                  </form>
              {% endif %}
          </div>
          <!-- Extra End -->

    </div>
    <div class="text-white relative bg-gray-900 h-50 w-full p-4 border-t border-b border-solid border-indigo-900 md:flex md:flex-row">
      <div class="inline-block absolute -top-20 float-center p-2 sm:-top-40 md:ml-2 lg:ml-24 md:float-left md:-top-44 lg:-top-52">
        <img class="w-28 border-2 rounded-full border-solid sm:w-40 md:w-52 lg:w-60" src="assets/{{data.profil.foto}}" alt="Profil-Img" id="Profil">
      </div>
      <div class="inline-block float-center p-2 md:float-left md:inline">
        <h1 class="font-bold text-xl mt-5 mb-1 md:text-2xl md:px-10 lg:px-36">
          {{data.profil.nama}}
        </h1>
        <p style="text-indent: 30px;" class="text-md md:text-lg md:px-10 lg:px-36">
          {{data.profil.deskripsi}}
        </p>
      </div>
    </div>
  </div>
  <!-- Main Banner Ends -->



  <!-- Skills x Education Starts -->
  <div class="bg-gray-800 px-2 grid md:px-10 lg:px-36 md:grid-cols-2">
    <!-- Skills Starts -->
    <div class="container py-6 md:py-12">
      <div class="ml-2 mt-2 text-white text-lg md:text-xl md:ml-16">
        <h6 class="font-bold">{{data.sekte.0}}:</h6>
      </div>
      {% for item in data.skills %}
        <div class="w-full text-white rounded-xl mt-4 p-2">
          <h7 class="ml-6">
            {{item.bahasa}}
          </h7>
          <div class="bg-white cursor-default text-center border rounded-lg">
            <div style="width: {{item.xp +5}}%; background-color: {{item.color}}" class="rounded-lg py-0.5">
              {{item.xp~'%'}}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
      <!-- Skills Ends -->

      <!-- Education Starts -->
    <div class="container py-6 md:py-12">
      <div class="ml-2 mt-2 text-white text-lg md:text-xl md:ml-16">
        <h6 class="font-bold">{{data.sekte.1}}:</h6>
      </div>
      <div class="mt-1 text-white">
        {% for item in data.education %}
          <div class="mt-4 p-2 rounded-xl md:ml-2">
            <h7 class="ml-4"> 
              Pada tahun: {{item.tahun}}
            </h7>
            <div class="bg-gray-700 p-0.5 px-4 border border-gray-600 py-1 text-sm">
              <p>Menempuh pendidikan di <i>{{item.nama}}</i> </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Education Ends -->
  </div>
  <!-- Skills x Education Ends -->



  <!-- Portfolio Starts -->
  <div class="bg-gray-800 py-10 px-2 md:px-10 lg:px-36 border-t border-gray-700">
    <div class="text-center text-white text-lg">
      <h6 class="pt-40 -mt-40 font-bold text-2xl" id="Portfolio">--{{data.sekte.2}}--</h6>
    </div>
    <div class="mt-3 text-white">
      {% for key, item in data.portfolio %}
        <div class="p-4 rounded-md mt-4 bg-gray-700 lg:px-16 lg:py-4 md:ml-2">
          <h7 class="ml-4 px-4 border-t border-r border-l text-xl font-bold md:text-2xl">
            <span>
              {{item.judul}}
            </span>
            <span class="border-l pl-4">
              {{item.tahun}}
            </span>
          </h7>
          <div onclick="ShowModal({{key}}, 'galeri-{{key}}')" class="group border bg-black relative text-center lg:w-5/6">
            <img class="w-full transition duration-300 cursor-pointer md:h-96 object-left-top object-cover group-hover:opacity-30" 
                src="assets/{{item.img}}" alt="{{item.img}}">
            <div class="absolute transition duration-300 transform opacity-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/4 group-hover:opacity-100">
              <p class="text-xl px-6 border border-white cursor-pointer rounded-md md:text-2xl md:px-10">Lihat</p>
            </div>
          </div>
          <div class="my-3 space-x-4 bg-gray-700">
            <p class="text-lg pb-5">
              {{item.ket}}
            </p>
            <a class="bg-green-700 py-1 px-8 rounded-md border border-solid hover:bg-green-500"
                  href="{{item.link}}">
              Kunjungi
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- Portfolio Ends -->



  <!-- Contact Starts -->
  <div class="bg-gray-800 p-2 md:px-10 lg:px-22">
    {% include 'contact.twig' %}
  </div>
  <!-- Contact Ends -->


  <!-- Extra Script -->
  <script>
    var text1 = '{{welcome1}}';
    var text2 = '{{welcome2}}';
  </script>
  <script src="components/extra.js"></script>
  <!-- Extra Ends -->



{% endblock %}