{% extends '_layout.twig' %}



{% block content %}
  <!-- Modal Mail Starts -->
    {% if mail is not null %}
      {%
        include 'modalmail.twig'
        with {
          'header' : mail[0],
          'body' : mail[1],
        }
      %}
    {% endif %}
  <!-- Modal Mail Ends -->


  <!-- Main Banner Starts -->
  <div class="pt-60 w-full md:pt-80">
      <div class="w-full absolute top-24 md:top-32" id="Profil">
          <img class="w-44 mx-auto border-2 border-gray-500 rounded-full md:w-60" src="assets/{{data.profil.foto}}" alt="Profil Picture">
      </div>
      <div class="w-full pt-8 pb-2 bg-gray-100 border-t border-b border-gray-400 md:pt-10">
          <div class=" m-2 text-md px-2 md:px-20 md:text-lg">
              <h5 class="mx-auto text-2xl text-center mb-2 text-bold md:text-3xl">{{data.profil.nama}}</h5>
              <p style="text-indent: 30px;" class="text-md md:text-lg md:px-10 lg:px-40">{{data.profil.deskripsi}}</p>
          </div>
      </div>
  </div>
  <!-- Main Banner Ends -->


  <!-- Skills Starts -->
  <div class="mt-4 p-2 md:px-10 lg:px-60">
      <div class="m-2 ml-6 w-32 border-b border-gray-400">
          <h1 class="font-black text-xl">{{data.sekte.0}}</h1>
      </div>
      <div class="grid md:grid-cols-2">
          {% for item in data.skills %}
              <ul class="container">
                  <li class="m-2">
                      <p>{{item.bahasa}}</p>
                      <div class="bg-gray-300 cursor-default rounded-lg text-right text-sm">
                          <div class="text-white p-1 rounded-lg md:p-2" style="background-color:{{item.color}}; width:{{item.xp +5}}%;">
                              {{item.xp~'%'}}
                          </div>
                      </div>
                  </li>
              </ul>
          {% endfor %}
      </div>
  </div>
  <!-- Skills Ends -->


  <!-- Education Starts -->
  <div class="mt-4 p-2 md:px-10 lg:px-60">
      <div class="m-2 ml-6 w-60 border-b border-gray-400">
          <h1 class="font-black text-xl">{{data.sekte.1}}</h1>
      </div>
      <div class="grid md:grid-cols-2">
          {% for item in data.education %}
              <ul class="container">
                  <li class="m-2">
                      <p class="font-bold ml-2 text-md md:text-sm lg:text-md">Tahun {{item.tahun}}</p>
                      <div class="bg-gray-200 px-4 p-2">
                          Menempuh pendidikan di {{ item.nama }}
                      </div>
                  </li>
              </ul>
          {% endfor %}
      </div>
  </div>
  <!-- Education Ends -->


  <!-- Portfolio Starts -->
  <div class="mt-4 p-2 md:px-10 lg:px-60">
      <div class="m-2 ml-6 w-32 border-b border-gray-400">
          <h1 class="pt-40 -mt-40 font-black text-xl" id="Portfolio">{{data.sekte.2}}</h1>
      </div>
      <div class="grid md:grid-cols-3">
          {% for key, item in data.portfolio %}
              <a href="portfolio.php?id={{key}}" 
                  class="group bg-gray-200 transition duration-300 grid grid-rows-1 rounded-xl p-2 m-2
                          hover:shadow-lg transform hover:-translate-y-2">
                  <div class="bg-black rounded-md w-auto overflow-hidden h-48">
                      <img class="w-full transition duration-300 opacity-40 group-hover:opacity-100" src="assets/{{item.img}}" alt="{{item.img}}">
                  </div>
                  <div class="mt-2">
                      <h3 class="text-md font-bold ml-2 md:text-lg lg:text-xl">{{item.judul}}</h3>
                      <p class="text-xs md:text-sm">{{item.ket}}</p>
                  </div>
              </a>
          {% endfor %}
      </div>
  </div>
  <!-- Portfolio Ends -->


  <!-- Contact Starts -->
  <div class="p-2 pt-10 md:pt-24 px-2 md:px-10 lg:px-36">
      {% include 'contact.twig' %}
  </div>
  <!-- Contact Ends -->
{% endblock %}